In [31]:
import pandas as pd 
import numpy as np

In [32]:
df_train=pd.read_csv("train_final.csv",index_col=False)
df_train.head()

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,10
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,11
2,0,0,0,0,0,0,100,208,178,178,...,0,0,0,0,0,0,0,0,0,0
3,178,178,178,152,102,58,19,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,8,64,107,191,191,191,191,...,0,0,0,0,0,0,0,0,0,2

In [33]:
labels=df_train["784"]

In [34]:
df_train.drop(df_train.columns[[784]],axis=1,inplace=True)
df_train.head()

,0,1,2,3,4,5,6,7,8,9,...,774,775,776,777,778,779,780,781,782,783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,100,208,178,178,...,0,0,0,0,0,0,0,0,0,0
3,178,178,178,152,102,58,19,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,8,64,107,191,191,191,191,...,0,0,0,0,0,0,0,0,0,0

In [35]:
np.random.seed(1212)
import keras
from keras.models import Model
from keras.layers import *
from keras import optimizers
from keras.layers import Input,Dense
from keras.model import Sequential
from keras.layers import Droupout
from keras.layers import Flatten
from keras.layers.convulational import Conv2D
from keras.layers.convulational import MaxPolling2D
from keras.utils import np_utils

ImportError: Keras requires TensorFlow 2.2 or higher. Install TensorFlow via `pip install tensorflow`